<br>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Editar Cliente</h1>
      <%= render "form", cliente: @cliente %><br>
      <%= link_to "Mostrar", @cliente, class:"btn btn-info" %> |
      <%= link_to "Volver", clientes_path, class:"btn btn-secondary" %>
  </div>
</div>
