
<br>
<div class="card" style="width: 18rem;">
  <div class="card-header">
    <h5>Nuevo Cliente</h5>
  </div>
  <div class="card-body">
    <div class="field form-group">
      <%= render "form", cliente: @cliente %>
      <%= link_to "Volver", clientes_path, class:"btn btn-info" %>
    </div>
  </div>
</div>




